<div layout:decorate="layout">
    <div layout:fragment="contents">
      <h1 th:text="${title}"></h1>
      <div th:object="${contact}">
        <div>
          <label>ID</label>
          <p th:text="*{id}"></p>
        </div>
        <div>
          <label>名前</label>
          <p th:text="*{name}"></p>
        </div>
        <div>
            <label>メールアドレス</label>
            <p th:text="*{email}"></p>
          </div>
        <div>
          <label>お問い合わせ内容</label>
          <p th:text="*{body}"></p>
        </div>
      </div>
    </div>
  </div>